<div class="row bbg no-bor-from-md">
    <div class="col-12 col-lg-6 left brg">
        <div class="row content c1 bbg">
            <div class="col-lg-auto hidden-sm-down caring">
                <img src="assets/img/dist/caring_hands_logo.png" alt="Kyani hands logo" class="img-fluid">
            </div>
            <div class="col px-0">
                <h3>CARING HANDS</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                    been the.
                </p>
            </div>
            <div class="col-12 text-right a-btn px-0">
                <a href="" class="light-blue-btn">Lorem Ipsum</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 right hidden-md-down">
        <div class="row content c2 bbg">
            <div class="col-lg-auto hidden-sm-down caring">
                <img src="assets/img/dist/img-logosymbol-kyani-login.png" alt="Kyani company logo" class="img-fluid">
            </div>
            <div class="col px-0">
                <h3>COMPANY</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="col-12 text-right a-btn px-0">
                <a href="" class="light-blue-btn">Lorem Ipsum</a>
            </div>
        </div>
    </div>
</div>
<div class="row bbg no-bb hidden-lg-up">
    <div class="col-12">
        <div class="row mx-0 content">
            <div class="col-lg-auto hidden-sm-down caring">
                <img src="assets/img/dist/img-logosymbol-kyani-login.png" alt="Kyani company logo">
            </div>
            <div class="col px-0">
                <h3>COMPANY</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="col-12 text-right a-btn px-0">
                <a href="" class="light-blue-btn">Lorem Ipsum</a>
            </div>
        </div>
    </div>
</div>