<div class="container">
<div class="row links text-center">
    <div class="col-12 col-md-6 l">
        <a href="https://support.kyani.net/countries" target="_blank">Contact Us</a>
        <a href="http://downloads.kyani.net/Business%20Documents/Ky%C3%A4ni%20Web%20Site%20User%20Agreement.pdf" target="_blank">Terms of Use</a>
    </div>
    <div class="col-12 col-md-6 r">
        <a href="http://assets.kyani.net/forms/us/en-us/internet_privacy_policy.pdf" target="_blank">Privacy Policy</a>
        <a href="http://www.dsa.org/ethics" target="_blank">DSA</a>
    </div>
</div>
<div class="row rights">
    <div class="col-12 text-center">
        © 2018 Kyäni, Inc. All Rights Reserved
    </div>
</div>
</div>