<button class="previous"></button>
<button class="next"></button>


<div class="row">
    <div class="col-12 title text-center">
        <h1 data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000">To bring
            <span>Hope</span> — the promise of a better life —
            <br class="hidden-sm-down hidden-xl-up"> through
            <br class="hidden-lg-down"> wellness and opportunity</h1>
        <div class="text-center hidden-xs-down scrolldown">
            <div class="arrow arrow-1"></div>
            <div class="arrow arrow-2"></div>
            <div class="arrow arrow-3"></div>
        </div>
    </div>
</div>