<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                MENU
            </a>
        </li>
        <li class="active">
            <a href="index.html" >Home</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products 
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="https://science.kyani.com/en-us" target="_blank">Kyäni Science</a>
                </li>
                <li>
                    <a href="triangle-of-health.html">Triangle of Health</a>
                </li>
                <li>
                    <a href="fleuresse.html">Fleuresse</a>
                </li>
                <li>
                    <a href="potato-pak.html">Potato Pak</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company 
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="our-story.html">Our Story</a>
                </li>
                <li>
                    <a href="our-mission.html">Our Mission</a>
                </li>
                <li>
                    <a href="founders.html">Founders</a></li><li><a href="executives.html">Executives</a>
                </li>
                <li>
                    <a href="executives.html">Executives</a>
                </li>
                <li>
                    <a href="awards.html">Awards</a>
                </li>
                <li>
                    <a href="https://www.indeedjobs.com/kyäni-inc/_hl/en_US" target="_blank">Jobs</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Caring Hands
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="ch-mission.html">Caring Hands Mission</a>
                </li>
                <li>
                    <a href="ch-day.html">Caring Hands Day</a>
                </li>
                <li>
                    <a href="ch-service-trips.html">Service Trips</a>
                </li>
                <li>
                    <a href="ch-partners.html">Caring Hands Partners</a>
                </li>
                <!-- <li>
                                    <a href="https://caringhands.kyani.net/" target="_blank">Donate</a>
                                </li> -->
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">News
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="https://news.kyani.com/en-us" target="_blank">Kyäni News</a>
                </li>
                <li>
                    <a href="press-kit.html">Press Kit</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Business Partners
                <span class="caret" role="menu"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="events.html">Events</a>
                </li>
                <li>
                    <a href="http://usincome.kyani.net" target="_blank">Income Disclosure</a>
                </li>
                <li>
                    <a href="https://uat.kyanipro.com/login" target="_blank">Kyäni Pro</a>
                </li>
                <li>
                    <a href="https://enroll.kyani.net/" target="_blank">Join</a>
                </li>
                <li>
                    <a href="opportunity.html">Opportunity</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>