<div class="row">
    <div class="col-12 col-lg-4 new" data-aos="fade-zoom-in" data-aos-duration="1000">
        <div class="row mx-0">
            <div class="col-12 col-md-6 col-lg-12 px-0 img-1">
                <div class="clearfix bottom-title">
                    The standard Lorem Ipsum passage, used since the 1500s
                </div>
                <div class="oval" data-aos="fade-zoom-in" data-aos-duration="1000">
                    <p>Feb</p>
                    <p>24</p>
                    <p>2017</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12 desc">
                <p class="first">
                    Lorem Ipsum is simply dummy text
                </p>
                <p>
                    of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                    an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the.
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 new" data-aos="fade-zoom-in" data-aos-duration="1000">
        <div class="row mx-0">
            <div class="col-12 col-md-6 col-lg-12 px-0 img-2">
                <div class="clearfix bottom-title">
                    Section 1.10.32 of "de Finibus Bonorum et Malorum"
                </div>
                <div class="oval" data-aos="fade-zoom-in" data-aos-duration="800">
                    <p>Jan</p>
                    <p>09</p>
                    <p>2017</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12 desc">
                <p class="first">
                    Lorem Ipsum is simply dummy text
                </p>
                <p>
                    of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                    an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 new" data-aos="fade-zoom-in" data-aos-duration="1000">
        <div class="row mx-0">
            <div class="col-12 col-md-6 col-lg-12 px-0 img-3">
                <div class="clearfix bottom-title">
                    1914 translation by H. Rackham
                </div>
                <div class="oval" data-aos="fade-zoom-in" data-aos-duration="1000">
                    <p>Dec</p>
                    <p>18</p>
                    <p>2016</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12 desc">
                <p class="first">
                    Lorem Ipsum is simply dummy text of
                </p>
                <p>
                    the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                    an unknown printer.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row align-items-center new-btn">
            <div class="col col-md-4 pl-md-4 col-xl-5 hidden-sm-down">
                <hr>
            </div>
            <div class="col col-12 col-md-4 col-xl-2 text-center">
                <a href="">Expand these news</a>
            </div>
            <div class="col col-md-4 pr-md-4 col-xl-5 hidden-sm-down">
                <hr>
            </div>
        </div>
    </div>
</div>