<div class="row">
    <div class="col-12 col-lg-6 px-0">
        <div class="container-fluid home-1">
            <div class="row align-items-center content" data-aos="fade-zoom-in">
                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <h2>
                        <span>TRIANGLE</span> OF HEALTH</h2>
                </div>
                <div class="col-12 col-md-6 col-lg-12 col-xl-6 a-r">
                    <a href="" class="ghost">
                        Lorem ipsum Dolor
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 px-0">
        <div class="container-fluid home-2">
            <div class="row align-items-center content" data-aos="fade-zoom-in">
                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <h2>
                        <span>FLEURESSE</span> SKIN CARE</h2>
                </div>
                <div class="col-12 col-md-6 col-lg-12 col-xl-6 a-r">
                    <a href="" class="ghost">
                        Lorem ipsum Dolor
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>