<div class="container">
<div class="row mx-0">
    <div class="col-12 title">
        Follow and Like Kyäni
    </div>
</div>
<div class="row mx-0 nets text-center">
    <div class="col">
        <a href="http://twitter.com/#!/kyanicorp" target="_blank">
                                    <img src="assets/img/dist/twitter-small.png" class="hidden-md-up" alt="Twitter logo">
                                </a>
        <a href="http://twitter.com/#!/kyanicorp" target="_blank">
                                    <img src="assets/img/dist/twitter.png" class="hidden-sm-down" alt="Twitter logo">
                                </a>
    </div>
    <div class="col">
        <a href="https://www.facebook.com/KyaniInc" target="_blank">
                                    <img src="assets/img/dist/facebook-small.png" class="hidden-md-up" alt="facebook logo">
                                </a>
                                <a href="https://www.facebook.com/KyaniInc" target="_blank">
                                    <img src="assets/img/dist/facebook.png" class="hidden-sm-down" alt="facebook logo">
                                </a>
    </div>
    <div class="col">
        <a href="http://instagram.com/kyaniinc" target="_blank">
                                    <img src="assets/img/dist/instagram-small.png" class="hidden-md-up" alt="instagram logo">
                                </a>
                                <a href="http://instagram.com/kyaniinc" target="_blank">
                                    <img src="assets/img/dist/instagram.png" class="hidden-sm-down" alt="instagram logo" >
                                </a>
    </div>
    <div class="col">
        <a href="https://vimeo.com/kyanivideo" target="_blank">
                                    <img src="assets/img/dist/vimeo-small.png" class="hidden-md-up" alt="vimeo logo">
                                </a>
                                <a href="https://vimeo.com/kyanivideo" target="_blank">
                                    <img src="assets/img/dist/vimeo.png" class="hidden-sm-down" alt="vimeo logo">
                                </a>
    </div>
    <div class="col">
        <a href="">
            <img src="assets/img/dist/youtube-small.png" class="hidden-md-up" alt="youtube logo"
                >
        </a>
        <a href="">
            <img src="assets/img/dist/youtube.png" class="hidden-sm-down" alt="youtube logo"
                >
        </a>
    </div>
</div>
</div>