.btn {
    font-size: 14px;
    font-weight: normal;
    height: 36px;
    border-radius: 18px;
    padding: 0.5rem 3.4375rem;
}
.btn-primary {
    color: $white;    
    border: 1px solid $light-blue;    	
    background-color: $light-blue;
}

.btn-light {
    color: $light-blue;    
    border: 1px solid $light-blue;    	
    background-color: $white;
}