.singlePage {
    &.firstChild {
        @include up(margin-top, 90px, 120px, 120px, 120px);
    }
    h1 {
        font-weight: bold;
        color: $blue4;
        text-transform: uppercase;
        vertical-align: middle;
        margin-bottom: 20px;
        @include up(font-size, 1.5rem, 2rem, 2rem, 2rem);
        @include up(line-height, 2rem, 2.375rem, 2.6875rem, 2.6875rem);
    }
    h2 {
        font-weight: bold;
        color: $blue4;
        text-transform: uppercase;
        vertical-align: middle;
        margin-bottom: 10px;
        @include up(font-size, 0.75rem, 1rem, 1rem, 1rem);
        @include up(line-height, 1.25rem, 1.50rem, 1.50rem, 1.50rem);
    }
    h3 {
        display: block;
        color: $blue4;
        font-weight: 700;
        padding: 0 0 10px;
        border-bottom: solid 1px $gray;
        margin-bottom: 30px;
        @include up(font-size, 1.25rem, 1.5rem, 1.5rem, 1.5rem);
    }
    h4 {
        display: block;
        color: $gray-general-text;
        font-weight: 700;
        padding: 0 0 10px;
        margin-top: 40px;
        margin-bottom: 10px;
        @include up(font-size, 1.125rem, 1.25rem, 1.25rem, 1.25rem);
    }
    .imgContent {
        margin-bottom: 2.5rem;
        .frameVideo {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;
            .video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .textContent {
        p {
            color: $gray-general-text;
            font-size: 0.875rem;
			
			a {
				color: $light-blue;
				&:hover {
					color: darken($light-blue,30%);
				}
			}
			
        }
        .shopButton {
            position: relative;
            display: block;
            line-height: 3.75rem;
            border-radius: 2.1875rem;
            margin-top: 2rem;
            padding: 0 1.875rem;
            color: white;
            text-transform: uppercase;
            @include up(margin-bottom, 2rem, 0, 0, 0);
			@include gral-button;
            
            img {
                vertical-align: sub;
                padding-top: 4px;
            }
            
            img {
                margin-right: 10px;
                
                &:last-child {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    right: 0.75rem;
                }
            }
            &.green {
                background: $green;
            }
        }
        &.relevant {
            p {
                font-size: 1.125rem;
            }
        }
    }
    
    .textLegend {
        p {
            color: $blue4;
            font-size: 1.5rem;
            font-style: italic;
            text-align: center;
            margin: 2rem;
            @include up(font-size, 1.125rem, 1.125rem, 1.5rem, 1.5rem);
        }
    }
    
   }